.container{
	margin: 30px 150px;
	font-family: Palatino Linotype;	


}


.header{
	background: #fff;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}


.header-title{
	font-size: 74px;
	background:#72ff70;
	padding: 10px, 20px;
	text-align: center;
	border-radius: 30px;

}


.text-up{
	line-height:60px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 40px;
	background:#fff;
	padding: 10px, 20px;

}



.tabl {
  padding-bottom: 60px;
}

.info-table {
	padding-top: 10px;

	font-size: 40px;
	width: 100%;
	border-collapse: collapse;

}

.info-table th, .info-table td {
	border: 3px solid black;
	padding: 10px;
	text-align: center;

}

.info-table th {
	background: #72ff70;
}

.info-table tbody tr td :nth-child(even) {
 	background: #ebff57;
}

.info-table{
  background: #ebff57;
}


.question{
	background: #fff;
	font-size: 40px;
}
.question1{
	padding-top: 50px;
	font-size: 50px;
	text-align: center;
}


.question2 {
	
}

.question2 li{
	list-style-type:none;
}

      .hide {
          display: none; 
      }
      .hide + label ~ div{
          display: none;
      }
      /* оформляем текст label */
      .hide + label {
      	text-decoration: none;
        border-bottom: 1px dotted green;
        padding: 0;
        font-size: 40px;
        color: green;
        cursor: pointer;
        display: inline-block; 
      }
      /* вид текста label при активном переключателе */
      .hide:checked + label {
          color: red;
          border-bottom: 0;
      }
      /* когда чекбокс активен показываем блоки с содержанием  */
      .hide:checked + label + div {
          display: block; 
          background: #efefef;
          -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
          -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
          box-shadow: inset 3px 3px 10px #7d8e8f;
          padding: 10px; 
      }

      /* demo контейнер */
      .demo {
          margin: 10px 5px;
      }


